#page-login {
    
.cardtop {
  width: 100%;
  height: 200px;
  padding: 2em 1rem;
  text-align: center;
}

 .base-logo {
  max-width: 200px;
}

 .cardlogin {
  position: relative;
  border-radius: 5px;
  background-color: white;
  padding: 2rem 2rem;
}

 .subtitulo {
  font-size: 1.5em;
}

 .firebaseui-idp-button {
  max-width: 300px;
  min-height: 60px;
  border-radius: 30px;
}

 .firebaseui-idp-text {
  font-size: 18px;
}

 h1 {
  font-size: 56px;
  font-weight: 200;
}

 h2 {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
  padding: 10px;
}

@media only screen and (max-width: 480px) {
   .q-layout-footer .q-btn {
    display: block;
  }

   .firebaseui-idp-button {
    max-width: 100%;
    min-height: 60px;
    border-radius: 30px;
  }

  /* .firebaseui-list-item {
  } */

   .firebaseui-card-content {
    padding: 0;
  }
}
}