#page-chekin {
    
  .btn {
    width: 100%;
  }

  .btns {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
  }
  #photoURL {
    width: 100px;
    height: 100px;
  }
  .chave {
    position: absolute;
    bottom: 10%
  }

  .divHero {
    padding-top: 60px
  }

  .zindex{
    z-index: 100;
  }
}