#page-ranking {
    
.btn {
  width: 100%;
}

.btns {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 40px;
}
.avatar {
  width: 30px;
  height: 30px;
}
.q-card-container {
  padding: 2px  
}
.cardRank {
  padding: 2px;
  max-width: 290px;
  width 90%;
  margin: 5px 
}


.lulo {
  font-family: lulo;
  color: black;
  font-size: .5em;
  margin: 0
}

p{
  margin: 0
}

.widthlulo {
  width: 60%;
  font-size: 1.25em;
  color: black;
}

.btntv3 {
  background-image: linear-gradient(red, yellow);
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.tv {
  font-size: 3em;
  text-align: center;
}

.tile {
  font-size: 0.75em;
}

.sizehorario {
  font-size: 0.65em;
}

h3 {
  font-size: 1.25em;
  padding: 0;
  margin: 0;
}

.left {
  text-align: left;
}
}