#page-mylayout {     
  .btntv {
    background-image: linear-gradient(red, yellow);
    color: white;
  }

  .rio {
    font-family: lulo;
    font-size: 0.75em;
  }

  .despertar {
    font-family: lulobold;
    font-size: 0.75em;
  }

  .btnmenu {
    font-family: lulobold;
    font-size: 0.75em;
  }
  .rota {
    padding-top: 50px;
  }

  .center {
    position: absolute;
    left: 45%;
    margin-top: 10px;
    z-index: 1;
  }

  .iframe {
    z-index: 0;
    margin-top: 60px;
  }

}