#page-inicio {
    .btn {
  width: 100%;
}

.btns {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 40px;
}
#photoURL {
  width: 100px;
  height: 100px;
}

.lulo {
  text-align: center;
}

.widthlulo {
  width: 60%;
  font-size: 1em;
}

.btntv3 {
  background-image: linear-gradient(red, yellow);
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

.tv {
  font-size: 2em;
  text-align: center;
}

#photoURL {
  width: 90px;
  height: 90px;
}
    
}