#page-cadastro {
    
.cardtop {
  width: 100%;
  height: 200px;
  padding: 2em 1rem;
  text-align: center;
}

.cardlogin {
  position: relative;
  border-radius: 5px;
  background-color: white;
  padding: 2rem 2rem;
}

.q-card-container {
  padding: 0;
  margin: 0;
}

.q-card-title {
  font-size: 1em;
  text-align: left;
  padding: 0;
  margin: 0;
}

.styleCard {
  min-width: 100%;
  max-width: 220px;
}
}