#page-index {
.base {
    position: relative;
    height: 100%;
    width: 100%;
    top: 2%
  }

  .base2 {
    position: relative;
    height: 960px;
    width: 100%;
    object-fit: cover;
    object-position: center
  }

  .base3 {
    position: relative;
    height: auto;
    padding-bottom: 200px
  }

  .paralax {
    height: 850px;
    width: 100%;
    background-image: url("../assets/landpage/backGround.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fundoalfa {
    position: absolute;
    height: 850px;
    width: 100%;
    background-color: rgba(0, 0, 0, .30);

  }

  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

  .footer {
    position: relative;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
  }

  .h2desperte {
    font-family: lulobold
  }

  .h2desperte2 {
    font-family: lulo
  }

  .myVideo1 {
    position: absolute;
    margin-top: 0px;
    padding: 0;
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: 960px;
    object-fit: cover;
    z-index: -1
  }

  .myVideo2 {
    position: absolute;
    margin-top: 0px;
    padding: 0;
    min-width: 100%;
    max-width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: center;
  }

  .calcada1 {
    position: absolute;
    width: 100%;
    padding: 0;
    margin-top: -150px;
    object-fit: cover;
    object-position: center
  }

  .bg {
    width: 100%
  }

  .tema {
    height: 100px;
    object-fit: cover;
  }

  .logo {
    position: absolute;
    top: 10%;
    text-align: center
  }

  .local1 {
    font-family: lulobold;
    text-transform: uppercase;
    color: #1b0600;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 10px
  }

  .local2 {
    font-family: lulobold;
    text-transform: uppercase;
    color: #1b0600;
    font-weight: bold;
    font-size: 1em;
    padding-left: 10px
  }

  .data1 {
    font-family: lulobold;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 2em;
    padding-left: 10px;
    margin-bottom: 0
  }

  .data2 {
    font-family: lulobold;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: 1em;
    padding-left: 10px;
    margin-bottom: 0
  }

  .maracana {
    position: absolute;
    width: 380px;
    height: 450px;
    bottom: 250px;
    right: 0;
    object-fit: cover;
    object-position: left
  }

  .niteroi {
    position: absolute;
    width: auto;
    height: auto;
    bottom: -20px;
    right: 0px;
    object-fit: cover;
    object-position: left;
  }

  .bondinho {
    position: absolute;
    width: 750px;
    height: 280px;
    bottom: 0;
    left: -70px;
    object-fit: cover;

  }

  .birds {
    position: absolute;
    width: 500px;
    top: 10px;
    left: 80px;
  }

  .sub1 {
    font-family: lulo;
    text-transform: uppercase;
    color: #e4701f;
    font-size: .75em
  }

  .paralax2 {
    position: relative;
    background-color: #e4701f;
    height: 1000px;
  }

  .paralax3 {
    position: relative;
    margin-top: -90px;
    background-color: #e4701f;
    height: 1300px;
  }

  .bgcolum {
    position: relative;
    text-align: center;
    margin-top: -20px;
    z-index: 1000
  }

  .bgcolum2 {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: .75em;
    margin-top: 50px
  }

  .texto1 {
    font-family: lulobold;
    padding: 10px;
    margin: 0;
    width: 100%;
  }

  .texto2 {
    font-family: lulo;
    text-align: center;
    padding: 15px;
    margin: 0;
    width: 100%;
  }

  .fe1 {
    font-family: julietta;
    color: white;
    font-size: 5em
  }

  .fe2 {
    font-family: julietta;
    color: white;
    font-size: 2.5em
  }

  @font-face {
    font-family: julietta;
    src: url('../assets/font/julietta.ttf');
  }

  @font-face {
    font-family: lulobold;
    src: url('../assets/font/LuloCleanW01OneBold.ttf');
  }

  @font-face {
    font-family: lulo;
    src: url('../assets/font/LuloCleanW01One.ttf');
  }

  .btnins {
    position: relative;
    font-family: lulobold;
  }

  h4 {
    font-size: 1.75em
  }

  .imgJBB {
    height: 75px;
    object-fit: cover;

  }

  .classimg { 
    width: 320px;
    height: 320px
  }
  
  

  #imgHenrique {
    background-image: url("~assets/preletores/1.png"); 
  }

  #imgHenrique:hover{
    background-image: url("~assets/preletores/1.1.png");
    -webkit-transition: 2s; /* Safari */
    transition: 2s;
  }

  #imgAndreia {
    background-image: url("~assets/preletores/2.png");
  }
  #imgAndreia:hover{
    background-image: url("~assets/preletores/2.1.png");
    -webkit-transition: 2s; /* Safari */
    transition: 2s;
  }
  
  #imgDavi {
    background-image: url("~assets/preletores/4.png");
  }
  #imgDavi:hover{
    background-image: url("~assets/preletores/4.1.png");
    -webkit-transition: 2s; /* Safari */
    transition: 2s;
  }
    
  #imgGil {
    background-image: url("~assets/preletores/7.png");
  }
  #imgGil:hover{
    background-image: url("~assets/preletores/7.1.png");
    -webkit-transition: 2s; /* Safari */
    transition: 2s;
  }
  
  #imgBeone {
    background-image: url("~assets/preletores/3.png");
  }
  #imgBeone:hover{
    background-image: url("~assets/preletores/3.1.png");
    -webkit-transition: 2s; /* Safari */
    transition: 2s;
  }

  #imgPc {
    background-image: url("~assets/preletores/5.png");
  }
  #imgPc:hover{
    background-image: url("~assets/preletores/5.1.png");
    -webkit-transition: 2s; /* Safari */
    transition: 2s;
  }
  
  #imgSola {
    background-image: url("~assets/preletores/6.png");
  }
  #imgSola:hover{
    background-image: url("~assets/preletores/6.1.png");
    -webkit-transition: 2s; /* Safari */
    transition: 2s;
  }
    
  #imgSolk {
    background-image: url("~assets/preletores/8.png");
  }
  #imgSolk:hover{
    background-image: url("~assets/preletores/8.1.png");
    -webkit-transition: 2s; /* Safari */
    transition: 2s;
  }

  .secpreletor {
    height: 750px   
  }

  .preletor {
    border-left 5px solid #c88b48 
    padding-left: 10px
  }
}