@require "./index/*"

// app global css
.template {
    color: $marrom
    }

@font-face {
    font-family: julietta;
    src: url('../assets/font/julietta.ttf');
  }

  @font-face {
    font-family: lulobold;
    src: url('../assets/font/LuloCleanW01OneBold.ttf');
  }

  @font-face {
    font-family: lulo;
    src: url('../assets/font/LuloCleanW01One.ttf');
  }