@require "./index/*"
@require "./pages/*"
@import "~variables"
  
// app global css
.template {
    color: $marrom
    }

@font-face {
    font-family: julietta;
    src: url('../assets/font/julietta.ttf');
  }

  @font-face {
    font-family: lulobold;
    src: url('../assets/font/LuloCleanW01OneBold.ttf');
  }

  @font-face {
    font-family: lulo;
    src: url('../assets/font/LuloCleanW01One.ttf');
  }
  
.lulo {
  font-family: lulo;
}

.lulobold {
  font-family: lulobold;
}

.julietta {
  font-family: julietta;
}

.btntv {
  background-image: linear-gradient(red, yellow);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: orange; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange; 
}